@using System.Linq
@using Softpark.Models

@model ASSMED_Cadastro

<div class="panel panel-success">
    <div class="panel-heading">Dados do Profissional</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <label for="txtNomeSusProf">Profissional do SUS<span class="asterisco"> *</span></label>
                <div>
                    <input type="hidden" name="txtSusProf" id="txtSusProf" value="@(ViewBag.Profissional?.CNS)" />
                    <div>
                        <div class="form-group input-group">
                            <input type="text" class="form-control obg" required="required" name="txtNomeSusProf" id="txtNomeSusProf" placeholder="Selecione"
                                   readonly="readonly" value="@Model.Nome" />
                            <input type="hidden" required="required" name="idProf" id="idProf" placeholder="Selecione"
                                   readonly="readonly" value="@Model.CodUsu" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-success btnBuscarProf" title="Buscar" id="btnBuscarProf"
                                        data-fieldmap='{"Nome":"#txtNomeSusProf","CNS":"#txtSusProf","CBO":"#selCboProf","CNES":"#selCnesUni","INE":"#selIneEquipe","CodUsuario":"idProf"}'>
                                    <i class="fa fa-search fa-fw"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="selCboProf">Profissão (CBO)<span class="asterisco"> *</span></label>
                    
                    <select name="selCboProf" id="selCboProf" required="required" class="form-control obg">
                        <option value="">Selecione</option>
                        @if (ViewBag.CNESs.Length == 0)
                        {
                            <option value=''>Nenhum registro encontrado</option>
                        }
                        @foreach (var cbo in ViewBag.CBOs)
                        {
                            var selected = ViewBag.Profissional.CBO.Trim() == cbo?.CodProfTab?.Trim() ? "selected=\"selected\"" : "";
                            var enabled = ViewBag.OwnCBOs.Contains(cbo?.CodProfTab?.Trim())
                                ? "" : "disabled=\"disabled\"";
                            if (string.IsNullOrEmpty(cbo.CodProfTab?.Trim()))
                            {
                                <option @selected value="" @enabled></option>
                            }
                            else
                            {
                                <option @selected value="@cbo.CodProfTab" style="text-transform: capitalize;" @enabled>@cbo.CodProfTab - @cbo.AS_Profissoes.DesProfissao</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div style="margin-top: 30px">
                <span id="msgErroTableProf" class="msgErro"></span>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="selCnesUni">Unidade (CNES)<span class="asterisco"> *</span></label>
                    <select name="selCnesUni" id="selCnesUni" required="required" class="form-control obg" disabled="disabled" style="text-transform: capitalize;">
                        <option value="">Selecione</option>
                        @if (ViewBag.CNESs.Length == 0)
                        {
                            <option value=''>Nenhum registro encontrado</option>
                        }
                        @foreach(var cnes in ViewBag.CNESs)
                        {
                            var selected = cnes.CodSetor == (ViewData["idSetor"] as int?) ? "selected=\"selected\"" : "";
                            if(string.IsNullOrEmpty(cnes.CNES?.Trim()))
                            {
                                <option @selected value="" disabled></option>
                            }
                            else
                            {
                                <option @selected value="@cnes.CNES" style="text-transform: capitalize;">@cnes.CNES - @cnes.Setores.DesSetor</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <label for="txtIneEquipe">Equipe (INE)<span class="asterisco"></span></label>
                <select name="selIneEquipe" id="selIneEquipe" class="form-control obg">
                    <option value="" selected="selected">Selecione a unidade</option>
                </select>
                <div class="msgErro"></div>
            </div>
            <div class="col-md-2">
                <label for="txtData">Data<span class="asterisco"> *</span></label>
                <input type="text" class="form-control data datepickerMaxDateAtual obg" required="required" name="txtData" id="txtData" placeholder="dd/mm/aaaa">
                <div class='msgErro'></div>
            </div>
        </div>
    </div>
</div>