@model Softpark.Models.SIGSM_MicroArea_Unidade
@{
    var options = new AjaxOptions
    {
        AllowCache = false,
        HttpMethod = "POST",
        InsertionMode = InsertionMode.ReplaceWith,
        UpdateTargetId = "page-wrapper",
        OnBegin = "beginRequest"
    };

    if (IsAjax)
    {
        Layout = null;
        <script>routes.navigate('@Url.Action()')</script>
    }
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Remover Associação de Unidade</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Deseja realmente remover este registro?</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>
                    Unidade
                </dt>

                <dd>
                    @ViewBag.Unidade
                </dd>

                <dt>
                    Micro Área
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SIGSM_MicroAreas.Codigo) - @Html.DisplayFor(model => model.SIGSM_MicroAreas.Descricao)
                </dd>

            </dl>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @using (Ajax.BeginForm(options))
            {
                @Html.AntiForgeryToken()

                <div class="form-actions">
                    <input type="submit" value="Remover" class="btn btn-default" /> |
                    @{ options.HttpMethod = "GET"; }
                    @Ajax.ActionLinkButton("Index", options, new { @class = "btn btn-md btn-primary btn-outline" }, "Voltar")
                </div>
            }
        </div>
    </div>
</div>
