@model IEnumerable<Softpark.Models.SIGSM_Check_Cadastros>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BaixarEndereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataDownload)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AS_Credenciados.CNES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ASSMED_Cadastro.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ASSMED_Contratos.NomeContratante)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BaixarEndereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataDownload)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AS_Credenciados.CNES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ASSMED_Cadastro.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ASSMED_Contratos.NomeContratante)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
