<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="SIGSM - Sistema de Gestão de Saúde Municipal">
    <meta name="author" content="Elton Schivei Costa @("@Softpark")">

    <link rel="icon" href="favicon.ico">

    <title>SIGSM SAÚDE</title>

    @Styles.RenderFormat("<link href=\"{0}?v=" + DateTime.Now.ToString("yyyyMMdd") + "\" type=\"text/css\" rel=\"stylesheet\" />", "~/bundles/sigsm.css")

    <!-- Configurações Customizadas Softpark -->
    <style type="text/css">
        nav a, .nav-tabs li a {
            color: @ViewData["corLinks"] !important;
            font-weight: bold;
        }

            nav a:hover, nav a:focus {
                color: @ViewData["corHoverLinks"] !important;
                text-decoration: none;
            }

        .sidebar {
            background-color: @ViewData["corFundoMenu"] !important;
        }

            .sidebar ul li {
                border-bottom: 1px solid @ViewData["corLinks"] !important;
            }

                .sidebar ul li a.active, .nav li.active .mFirst {
                    background-color: @ViewData["corFundoMenuActive"] !important;
                    cursor: default;
                }

                    .sidebar ul li a.active:hover, .nav.nav-tabs li.active a:hover {
                        color: @ViewData["corLinks"] !important;
                    }

        .nav li.active .mFirst {
            background-color: @ViewData["corFundoMenuActive"] !important;
            color: @ViewData["corHoverLinks"] !important;
            cursor: default;
        }

        .nav.nav-tabs li a {
            background-color: @ViewData["corFundoMenu"] !important;
        }

        .nav.nav-tabs li.active a {
            background-color: @ViewData["corFundoAbaActive"] !important;
        }

        .nav > li > a:hover {
            text-decoration: none;
            background-color: @ViewData["corHoverMenu"] !important;
        }

        .nav > li > a:focus {
            background: inherit;
            color: @ViewData["corLinks"] !important;
        }

        .navbar-right a {
            color: @ViewData["corMenuTop"] !important;
        }

            .navbar-right a:hover {
                color: @ViewData["corMenuTopHover"] !important;
            }

            .navbar-right a.no-hover:hover {
                color: @ViewData["corMenuTop"] !important;
            }

        .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
            background-color: @ViewData["corHoverMenu"] !important;
            border-color: @ViewData["corHoverMenu"] !important;
        }

        .navbar-toggle > span.glyphicon {
            top: -1px !important;
            color: @ViewData["corMenuTop"] !important;
        }

        .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
            background-color: @ViewData["corMenuTopHover"] !important;
        }

        .navbar-toggle > span.glyphicon:hover {
            color: @ViewData["corHoverLinks"] !important;
        }
    </style>
</head>
<body class="skin-green fixed">
    <div id="wrapper" style="background-color: @ViewData["corPrincipalSistema"];">
        @{
            var page = Request.ServerVariables["SCRIPT_NAME"];

            var query = Request.ServerVariables["QUERY_STRING"];

            if (query?.Any() == true)
            {
                page = $"{page}?{query}";
            }

            page = page.Replace(Url.Content("~/..") + "/", "");
        }
        @Html.Action("Menu", "Home", new { page })
        <!-- Page Content -->
        @RenderBody()
        <div class="clearfix"></div>
    </div>

    <!-- Modal Alterar Senha -->
    <div>
        <div class="modal fade" id="modalAlterarSenha" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Alteração de Senha</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="senhaAtual">Senha Atual *</label>
                                    <input type="password" class="form-control obg" name="senhaAtual" id="senhaAtual" value="" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="novaSenha">Nova Senha *</label>
                                    <input type="password" class="form-control obg" name="novaSenha" id="novaSenha" value="" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="novaSenha2">Confirma Nova Senha *</label>
                                    <input type="password" class="form-control obg" name="novaSenha2" id="novaSenha2" value="" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-danger" id="alertaSemModalAltSenha" style="display: none; padding-top: 0px;"></div>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success" id="btnSalvaAltSenha" onclick="salvaAlteraSenha();">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fim Modal Alterar Senha -->
    <!-- Modal Load -->
    <div>
        <div class="modal fade" id="modalLoad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="margin-top: 150px; opacity: 0.80; -moz-opacity: 0.80; filter: alpha(opacity=80);">
                    <div class="modal-body text-center">

                        <img src="img/ajax-loader-2.gif" />

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fim Modal Load -->
    <!-- /#wrapper -->
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?v=" + DateTime.Now.ToString("yyyyMMdd") + "\"></script>", "~/bundles/sigsm.js")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?v=" + DateTime.Now.ToString("yyyyMMdd") + "\"></script>", "~/bundles/common.js")
    <div id="alerta"></div>
    @{ 
        string alert = ViewBag.Alert;
    }
    @Html.Hidden("msgAlerta", alert, new { id = "msgAlerta" })
    <script type="text/javascript">
        var alerta = document.getElementById('msgAlerta');
        if (alerta.value.length > 0) modalAlerta("Atenção", alerta.value);
        window.zEmbed || function (e, t) { var n, o, d, i, s, a = [], r = document.createElement("iframe"); window.zEmbed = function () { a.push(arguments) }, window.zE = window.zE || window.zEmbed, r.src = "javascript:false", r.title = "", r.role = "presentation", (r.frameElement || r).style.cssText = "display: none", d = document.getElementsByTagName("script"), d = d[d.length - 1], d.parentNode.insertBefore(r, d), i = r.contentWindow, s = i.document; try { o = s } catch (e) { n = document.domain, r.src = 'javascript:var d=document.open();d.domain="' + n + '";void(0);', o = s } o.open()._l = function () { var o = this.createElement("script"); n && (this.domain = n), o.id = "js-iframe-async", o.src = e, this.t = +new Date, this.zendeskHost = t, this.zEQueue = a, this.body.appendChild(o) }, o.write('<body onload="document._l();">'), o.close() }("https://assets.zendesk.com/embeddable_framework/main.js", "softpark.zendesk.com");
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>