@using Softpark.Models
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; height: 115px; background-color: @ViewData["corPrincipalSistema"]; border-bottom: 2px solid @ViewData["corPrincipalSistema"]; background: url(@Url.Content("~/../../_inc/img/SIGSM_TOPO.png")) no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="height: 34px;">
            <span class="sr-only">Menu</span>
            <!--<span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>-->
            <span class="glyphicon glyphicon-align-justify"></span>
        </button>
        <a class="navbar-brand" href="@Url.Content("~/../")">
            <img src="@ViewData["logoInicialSistema"]" style="width: 85px; margin-left: 30px;" />
        </a>
    </div>
    <!-- /.navbar-header -->

    <div id="dvNomeSist" class="pull-right" style="width: 330px;">
        <span class="pull-right" style="font-size: 30px;">SIGSM - @ViewBag.NomeSistema</span><br />
        <span id="spNomeSist" class="pull-right">Sistema Integrado da Gestão da Saúde Municipal</span>
    </div>

    <div id="dvFaixaTop" class="row">
        <div id="dv2FaixaTop">
            <span id="spSetorTop" class="pull-left text-capitalize"><i class="fa fa-home fa-fw" style="font-size: 18px;"></i>@ViewBag.Setor</span>
            <a href="@Url.Content("~/../../_inc/logoff.asp")" class="pull-right" title="Sair" style="margin-left: 20px; margin-top: -2px; font-size: 17px;">Sair</a>
            <span class="pull-right"><span id="spSaudacao"></span><a href="#nogo" class="text-capitalize" onclick="alteraSenha();" title="Alterar Senha" style="color: #fff; font-weight: inherit;"><i class="fa fa-user fa-fw" style="font-size: 16px;"></i>@ViewBag.Usuario</a><span id="spSaudacaoCid">, @ViewData["nomeCliente"]</span><span id="spSaudacaoHr"></span></span>
        </div>
    </div>

    <input id="lang" type="hidden" value="pt-BR" />

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            @{
                int idUsuario = ViewBag.idUsuario;
                int idSistema = ViewBag.idSistema;
                DomainContainer domain = ViewBag.Domain;
            }
            @Html.CarregaMenu(Url, idUsuario, null, idSistema, domain)
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>