@model Softpark.WS.ViewModels.UsuarioLoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="jumbotron">
    <div class="container">
        <figure>
            <img src="@Url.Content($"~/{ViewData["logoInicialSistema"]}")" alt="" class="img-circle img-responsive mainLogo">
        </figure>
        <h2>SIG<span class="green">SM</span></h2>
        <h5>@ViewData["nomeInicialSistema"]</h5>
        <div class="box">
            @using (Html.BeginForm("Acesso", "Usuario", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
            {
                @Html.TextBoxFor(m => m.Login, new { placeholder = "Login", autofocus = "autofocus", id = "txt_user" })
                @Html.PasswordFor(m => m.Senha, new { placeholder = "Senha", id = "txt_pass" })
                @Html.ValidationSummary()
                <button id="btn_login" type="submit" class="btn btn-primary full-width" style="height:47px;"><span class="glyphicon glyphicon-ok"></span></button>
            }
        </div>
        <div class="row text-center" style="margin-top: 220px;">
            <img src="@Url.Content("~/img/Logo_Softpark2.png")" />
        </div>

    </div>
    <div style="margin-left: -173px; margin-top: 5px; margin-bottom: 5px;width: 630px;text-align: center; font-size: 12px;">@ViewData["xMessNav"]</div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<div id="alerta"></div>
<!-- Modal BIOMETRIA -->
<div>
    <div class="modal fade" id="modalBIOMETRIA" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Selecione o Sistema</h4>
                </div>
                <div class="modal-body">
                    <center>
                        <img src="@Url.Content("~/img/biometria.png")" width="60%" /><br>Por favor, Posicione seu dedo cadastrado no leitor
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal BIOMETRIA fim -->
<!-- Modal TANCODE -->
<div>
    <div class="modal fade" id="modalTANCODE" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Selecione o Sistema</h4>
                </div>
                <div class="modal-body">
                    <center>
                        Por favor digite a senha referente a posição <span id="NumSenha"></span> do seu cartão terminado em <span id="NumRef"></span>
                        <br>
                        <input type="password" name="SenhaTan" id="SenhaTan" class="form-control" style="width: 100px;" />
                        <input type="button" class="form-control btn btn-success" value="Confirmar" style="width: 100px;" onclick="carregaTancode()" />
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Sistema -->
<div>
    <div class="modal fade" id="modalSistema" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Selecione o Sistema</h4>
                </div>
                <div class="modal-body">

                    <div id="selectSist" class="text-center"></div>

                    <div id="divUnidade" style="display:none;">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <select name="selectSetor" id="selectSetor" class="form-control" onchange="validaSenhaAdm();"></select>
                        </div>
                    </div>
                    <div id="alertaSetor" class="alert alert-danger" style="display:none;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="@Url.Content("~/Scripts/sistema/login/login.js")"></script>
}
